*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff, #F0EAD6;
	background-image: url(Images/background-3-3553x2000.jpg);
	background-size: cover;
	background-attachment: fixed;
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
}
.main{
	margin: 0 auto;
	text-align: justify;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-top: 20px;
	text-align: justify;
	/*color: #fff;*/
	color: #F0EAD6;
}
.menu{
	height: 105px;
	box-shadow:  0 2px 10px 2px rgba(122,122,122,0.5);
	overflow: hidden;
	/*border-bottom: 2px solid grey;*/
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
}
.nameh1{
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 0.5s;
	/*margin-left: 50px;*/
}
.nameh1:hover{
	font-size: 27px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
}
.namep{
	transition: 0.5s;
	background: linear-gradient(to right, #F0EAD6, #20B2AA); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	/*margin-left: 50px;*/
}
.namep:hover{
	font-size: 18px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}
.name{
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
	/*margin: 0 30px 0 30px;*/
	/*line-height: 100px;*/
	/*background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;*/ 
	/*width: 250px;*/
	/*float: left;*/
}
.mainlist ul{
	text-align: center;
	height: inherit;
}
.mainlist li{
	float: left;
	width: 25%; /*300px;*/
	list-style-type: none;
	line-height: 100px;
	text-align: center;
	margin-top: 1.5px;
	/*border: 1px solid #fff;*/
	/*display: inline-block;*/
	/*margin-left: 30px;
	margin-right: 30px;*/
	/*margin: 0 30px 0 30px;*/
}
/*.leftsub1menu, .leftsub2menu{
	flex-direction: column;                        ???
}*/
.mainlist a{
	text-decoration: none;
	display: block;
}
/*.rightauthor{
	float: right;
}*/
.content{
	width: 800px;
	margin: 0 auto;
}
img{
	margin: 0 auto 30px auto;
	width: 800px;
	height: 535px;
	border-radius: 25px;
}
h2{
	text-align: center;
	margin: 50px auto;
	/*color: #fff;*/
	background: linear-gradient(to right, #EBB2B2, #9457EB); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	font-size: 27px;
	text-transform: uppercase;
}
p{
	text-indent: 30px;
}
.text{
	text-align: center;
	border: 2px solid #F0CE5F;
	/*box-shadow:  0 2px 10px 2px rgba(122,122,122,0.5);*/
	padding: 15px;
	border-radius: 35px;
}
.footer{
	background-color: #000;
	height: 100px;
	margin-top: 20px;
	font-family: Verdana, sans-serif;
	color: #F0EAD6;
	padding: 35px;
	text-align: center;
}
.texta3{
	text-decoration: none;
	background: linear-gradient(to left, #943EFF, #F09350); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 1s;
	font-weight: 600;
}
.texta3:hover{
	text-decoration: underline;
	text-decoration-color: white;
	font-weight: 700;
}