*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff, #F0EAD6;
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
	background-image: url(Images/background-3-3553x2000.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.main{
	margin: 0 auto;
	text-align: justify;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-top: 20px;
	text-align: justify;
	color: #fff;
}
.menu{
	height: 105px;
	/*border-bottom: 2px solid grey;*/
	box-shadow:  0 2px 10px 2px rgba(122,122,122,0.5);
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
	overflow: hidden;
}
.nameh1{
	/*margin-left: 50px;*/
	transition: 0.5s;
}
.nameh1:hover{
	font-size: 27px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
}
.namep{
	/*margin-left: 50px;*/
	transition: 0.5s;
}
.namep:hover{
	font-size: 18px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
}
.name{
	/*margin: 0 30px 0 30px;*/
	line-height: 100px;
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	/*width: 250px;*/
	/*float: left;*/
}
.rightmenu{
	width: 300px;
	float: right;
	/*margin-left: 700px;*/
} /*Почему не работает???*/
.mainlist ul{
	text-align: center;
	height: inherit;
}
.mainlist li{
	/*display: inline-block;*/
	float: left;
	width: 300px;
	/*border: 1px solid #fff;*/
	list-style-type: none;
	line-height: 100px;
	text-align: center;
	/*margin-left: 30px;
	margin-right: 30px;*/
	margin: 0 30px 0 30px;
	margin-top: 1.5px;
}
.mainlist a{
	text-decoration: none;
}
/*.rightauthor{
	float: right;
}*/