*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	background-image: url(Images/background-3-3553x2000.jpg);
	background-size: cover;
	background-attachment: fixed;
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
}
.main{
	text-align: justify;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-top: 20px;
	text-align: justify;
	color: #fff;
}
.menu{
	height: 105px;
	box-shadow:  0 2px 10px 2px rgba(122,122,122,0.5);
	/*overflow: hidden;*/
	/*border-bottom: 2px solid grey;*/
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
}
.mainlist{
	position: relative;
}
.sub1menu{
	position: absolute;
	display: none;
	border-radius: 20px;
	background-color: #2A2020;
}
.kat:hover .sub1menu{
	display: block;
	overflow: hidden;
	width: 24%;
}
/*.lione{
	border-radius: 20px 20px 0 0;
}                             ???????????????
.lithree{
	border-radius: 0 0 20px 20px;
}*/
.kat:hover .sub1menu li{
	display: block;
	width: 100%;
}
.leftsub1menu{
	font-weight: 700;
	transition: 0.5s;
	background: linear-gradient(to right, #F0EAD6, #20B2AA); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}
.leftsub1menu:hover{
	font-size: 18px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	border: 1px solid #FDE2A2;
	border-radius: 20px;
}
.nameh1{
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 0.5s;
	/*margin-left: 50px;*/
}
.nameh1:hover{
	font-size: 27px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
}
.namep{
	font-weight: 700;
	transition: 0.5s;
	background: linear-gradient(to right, #F0EAD6, #20B2AA); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	/*margin-left: 50px;*/
}
.namep:hover{
	font-size: 18px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	border-radius: 20px;
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}
.name{
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
	/*margin: 0 30px 0 30px;*/
	/*line-height: 100px;*/
	/*background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;*/ 
	/*width: 250px;*/
	/*float: left;*/
}
.mainlist ul{
	text-align: center;
	height: inherit;
}
.mainlist li{
	float: left;
	width: 25%; /*300px;*/
	list-style-type: none;
	line-height: 100px;
	text-align: center;
	margin-top: 1.5px;
	/*border: 1px solid #fff;*/
	/*display: inline-block;*/
	/*margin-left: 30px;
	margin-right: 30px;*/
	/*margin: 0 30px 0 30px;*/
}
/*.leftsub1menu, .leftsub2menu{
	flex-direction: column;                        ???
}*/
.mainlist a{
	text-decoration: none;
	display: block;
}
.textmain{
	color: #fff;
	border: 5px solid rgba(244,202,22, 0.5);
	border-radius: 30px;
	padding: 15px;
	margin-left: 120px;
	/*color: #1F0042;*/
	/*margin-top: 14px;*/
}
.leftpicture{
	float: left;
	width: 100px;
}

.header{
	margin: 30px 30px 50px 30px;
	/*float: left;*/ /*Почему???*/
}
.content{
	margin: 50px;
	/*clear: left;*/ /*Почему???*/
	/*float: left;*/
}
.jpg{
	width: 550px;
	display: block;
	margin: 20px auto 15px auto;
	height: 350px;
	/*margin-top: 15px;*/ /*Почему???*/
	/*position: relative;*/ /*Зачем?*/
}
.animation{
	transition: 1s;
	/*margin: 15px;*/
}
.animation:hover{
	transform: scale(1.1);
}
.serials{
	text-align: center;
	color: #fff;
	transition: 2s;
	margin: 10px 0 10px 0;
	/*border: 1px solid red;*/
	/*margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;*/
}
.serials:hover{
	background: linear-gradient(to left, #BE9FEB, #318CE7); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	/*color: #B893EB;*/
	/*border: 2px solid #fff;
	border-radius: 20px;*/
}
.search{
	text-decoration: none;
}
/*.search:hover{
	text-decoration: underline;
	color: #F4E49F;
}*/
/*.text{
	color: #fff;
	text-decoration: none;
	transition: 1s;
	margin-bottom: 15px;
	display: block;
}
.text:hover{
	/*color: #fff;*/
	/*text-decoration: underline;*/
	/*font-size: 17px;*/
	/*text-decoration-color: #E78D20;
	color: #E7D5B7;
}
.footer{
	margin-left: 20px;
}*/
/*.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
	width: 600px;              
	display: flex;                             ???
	flex-direction: row;
}*/
.content > div{
	width: 600px;
	/*display: inline-block;*/
	float: left;
	/*border: 5px solid #fff;*/
}
/*.one{
	float: left; /*Почему???*/
/*}*/
.footer{
	background-color: #000;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	color: #fff;
	padding: 30px;
	margin-bottom: 0;
	text-align: justify;
	float: left;
	width: 100%;
}
.footerlist a{
	text-decoration: none;
	background: linear-gradient(to left, #943EFF, #F09350); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 1s;
	font-weight: 600;
}
.footerlist a:hover{
	text-decoration: underline;
	text-decoration-color: white;
	font-weight: 700;
}
.footerlist li{
	width: 33%;
	float: left;
	text-align: center;
	padding: 10px;
}
.footer ul{
	list-style-type: none;
}
.footeliborder{
	/*border: 1px solid #FFF7D5;
	border-radius: 30px;*/
}
.footerliunderlne{
	text-decoration: underline;
}
.footerlisite{
	font-size: 17px;
}
.gif{
	width: 50px;
	height: 50px;
}
.divgif{
	width: 100%;
	margin: 0 auto;
	height: 25px;
}
