 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	background-image: url(Images/background-3-3553x2000.jpg);
	background-size: cover;
	background-attachment: fixed;
}
ul{
	list-style: none;
}
.mainlist{
	display: flex;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 50px 0;
}
.main{
	text-align: justify;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-top: 20px;
	text-align: justify;
	color: #fff;
}
.menu{
	height: 105px;
	box-shadow:  0 2px 10px 2px rgba(122,122,122,0.5);
}
.mainlist{
	position: relative;
}
.main_submenu{
	position: absolute;
	display: none;
	margin-top: 30px;
	border-radius: 20px;
	background: linear-gradient(to right, #512F80, #9456EA); 
	z-index: 1000;
	margin-left: 90px;
}
.kat:hover .element::before{
	content: '';
	position: absolute;
    left: 0; 
    top: 102px;
    border: 237px solid transparent; 
}
.kat:hover .element::after{
	content: '';
	position: absolute;
    left: 190px; 
    top: 102px;
    border: 30px solid transparent; 
    border-top: 30px solid #04AC3C; 
}
.element{
	position: relative;
}
.element:hover{
	background: linear-gradient(to left, #6CA9E7, #2887E7)!important; 
	-webkit-background-clip: text!important; 
	-webkit-text-fill-color: transparent!important;
}
.kat:hover{
	border-radius: 20px;
	background: linear-gradient(to right, #512F80, #9456EA); 
	/*transition: 0.8s;
	opacity: 0.9;*/
}
.kat:hover .main_submenu{
	display: block;
	overflow: hidden;
	width: 15%;
}
.kat:hover .main_submenu li{
	display: block;
	width: 100%;
}
.kat:hover .main_submenu li:nth-child(2), .kat:hover .main_submenu li:nth-child(3){
	border-top: 1px solid #000;
	/*margin-top: 3px;*/
}
.submenu{
	font-weight: 700;
	transition: 0.5s;
	background: linear-gradient(to right, #F0EAD6, #20B2AA); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	border-radius: 20px;
}
.submenu:hover{
	font-size: 18px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	background: linear-gradient(to left, #6CA9E7, #2887E7); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	border: 1px solid #FDE2A2;
}
.nameh1{
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 0.5s;
	font-size: 27px;
	border-radius: 20px;
}
.nameh1:hover{
	font-size: 30px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
}
.namep{
	font-weight: 700;
	transition: 0.5s;
	background: linear-gradient(to right, #F0EAD6, #20B2AA); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	font-size: 18px;
	border-radius: 20px;
}
.namep:hover{
	font-size: 20px;
	box-shadow:  0 0 30px 10px rgba(132,72,52,0.5);
	border: 1px solid #FDE2A2;
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}
.name{
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
}
.mainlist ul{
	text-align: center;
	height: inherit;
}
.mainlist > li, .kat{
	width: 24.9%;
}
.mainlist li{
	list-style-type: none;
	line-height: 100px;
	text-align: center;
	margin-top: 1.5px;
}
.mainlist a{
	text-decoration: none;
	display: block;
}
.textmain{
	color: #fff;
	border: 5px solid rgba(244,202,22, 0.5);
	border-radius: 30px;
	padding: 15px;
	margin-left: 120px;}
.leftpicture{
	width: 100px;
}

.header{
	margin: 30px 30px 50px;
	display: flex;
	justify-content: space-around;
}
.jpg{
	width: 550px;
	display: block;
	margin: 20px auto;
	height: 350px;
}
.animation{
	transition: 1s;
}
.animation:hover{
	transform: scale(1.1);
}
.serials{
	text-align: center;
	color: #fff;
	transition: 2s;
	margin: 5px 10px;
}
.serials:hover{
	background: linear-gradient(to left, #BE9FEB, #318CE7); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}
.search{
	text-decoration: none;
}
.content li{
	width: 600px;
}
.footer{
	background-color: #000;
	margin-top: 25px;
	font-family: Arial, sans-serif;
	color: #fff;
	padding: 40px;
	margin-bottom: 0;
	width: 100%;
}
.footerlist{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.footerlist a{
	text-decoration: none;
	background: linear-gradient(to left, #943EFF, #F09350); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	transition: 1s;
	font-weight: 600;
}
.footerlist a:hover{
	text-decoration: underline;
	text-decoration-color: white;
	font-weight: 700;
}
.footerlist li{
	width: 33%;
}
.footer ul{
	list-style-type: none;
}
.footerliunderlne{
	text-decoration: underline;
}
.footerlisite{
	font-size: 17px;
}
.gif{
	width: 50px;
	height: 50px;
}
.divgif{
	width: 100%;
	margin: 0 auto;
	height: 25px;
}

@media screen and (max-width: 1286px) {
	.header{
		display: none;
	}
	.content li{
		width: 545px;
	}
	.jpg{
		width: 485px;
		margin: 20px auto;
		height: 315px;
	}
}

@media screen and (max-width: 1150px) {
	.site{
		display: none;
	}
	.mainlist > li, .kat{
	width: 33%;
	}
	.content li{
		width: 510px;
	}
	.jpg{
		width: 425px;
		margin: 20px auto;
		height: 285px;
	}
}

@media screen and (max-width: 1078px) {

	.content li{
		width: 490px;
	}
	.jpg{
		width: 415px;
		margin: 20px auto;
		height: 275px;
	}
}
@media screen and (max-width: 1026px) {
	.content li{
		width: 700px;
	}
	.jpg{
		width: 650px;
		display: block;
		margin: 20px auto;
		height: 450px;
	}
}
@media screen and (max-width: 765px) {
	.content li{
		width: 590px;
	}
	.jpg{
		width: 530px;
		display: block;
		margin: 20px auto;
		height: 330px;
	}
}
@media screen and (max-width: 640px) {
	.content li{
		width: 500px;
	}
	.jpg{
		width: 425px;
		margin: 20px auto;
		height: 275px;
	}
