*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff, #F0EAD6;
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
	background-image: url(Images/background-3-3553x2000.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.body{
	margin: 0 auto;
	text-align: justify;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-top: 20px;
	text-align: justify;
	color: #fff;
}
.menu{
	height: 100px;
	/*border-bottom: 2px solid grey;*/
	box-shadow:  0 2px 10px rgba(122,122,122,0.5);
	/*background: linear-gradient(to left, #D8D2EB, #F0EAD6);*/
}
.name{
	margin: 0 30px 0 30px;
	line-height: 100px;
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
	background: linear-gradient(to left, #943EFF, #008EFF); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	width: 250px;

	float: left;
}
/*.rightauthor{
	float: right;
}*/
.textmain{
	/*color: #1F0042;*/
	color: #fff;
	border: 5px solid rgba(244,202,22, 0.5);
	border-radius: 30px;
	padding: 15px;
	margin-left: 120px;
	/*margin-top: 14px;*/
}
.leftpicture{
	float: left;
	width: 100px;
}

.about{
	margin: 30px 30px 50px 30px;
	/*float: left;*/ /*Почему???*/
}
.content{
	margin: 50px;
	/*clear: left;*/ /*Почему???*/
	/*float: left;*/
}
.jpg{
	width: 550px;
	/*margin-top: 15px;*/ /*Почему???*/
	/*position: relative;*/ /*Зачем?*/
	display: block;
	margin: 20px auto 15px auto;
	height: 350px;
}
.animation{
	transition: 1s;
	/*margin: 15px;*/
}
.animation:hover{
	transform: scale(1.1);
}
.serials{
	text-align: center;
	color: #fff;
	/*border: 1px solid red;*/
	transition: 2s;
	/*margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;*/
	margin: 10px 0 10px 0;
}
.serials:hover{
	/*color: #B893EB;*/
	background: linear-gradient(to right, #BE9FEB, #318CE7); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	/*border: 2px solid #fff;
	border-radius: 20px;*/
}
.search{
	text-decoration: none;
}
/*.search:hover{
	text-decoration: underline;
	color: #F4E49F;
}*/
/*.text{
	color: #fff;
	text-decoration: none;
	transition: 1s;
	margin-bottom: 15px;
	display: block;
}
.text:hover{
	/*color: #fff;*/
	/*text-decoration: underline;*/
	/*font-size: 17px;*/
	/*text-decoration-color: #E78D20;
	color: #E7D5B7;
}
.footer{
	margin-left: 20px;
}*/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
	width: 600px;
	/*border: 5px solid #fff;*/
	display: inline-block;
	float: left;
}
/*.one{
	float: left; /*Почему???*/
/*}*/
